.date-day {
  align-items: center;
  border: 2px dotted $gray;
  border-radius: 50%;
  box-shadow: 0px 0px 5px $gray;
  display: flex;
  height: 250px;
  justify-content: center;
  margin: 0 auto 30px;
  width: 250px;

  .arrow-date {
    color: $gray;

    &:hover {
      opacity: .8;
    }

    i {
      display: flex;
      font-size: 250px;
    }
  }

  .date {
    align-items: baseline;
    display: flex;
    position: relative;
  }

  .day {
    font-size: 100px;
  }

  .month {
    font-size: 50px;
  }

  .year {
    font-size: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
}
