{% extends 'frame/layout.njk' %}

{% block content %}
  <div class="container">
    <div class="col-xs-12">
      <div class="row form-update">
        <h2>Editar Serviço</h2>

        <form id="form-delete" class="form-delete" method="POST" action="/admin/servicos?_method=DELETE">
          <div class="form-row">
            <div class="col-md-6">
              <input type="hidden" name="id" value="{{ service.id }}">
              <button type="submit" class="btn btn-danger">Deletar</button>
            </div>
          </div>
        </form>

        <form method="POST" action="/admin/servicos?_method=PUT">
          <div class="form-row">
            <div class="col-md-6">
              {% include 'frame/service.njk' %}
              <input type="hidden" name="id" value="{{ service.id }}">
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>

        <script src="/js/formDelete.js"></script>
      </div>
    </div>
  </div>
{% endblock %}
